/*General Styling*/
body{
  background-color: rgb(19, 15, 26) !important;
}

div{
  display:inline-block;
}

p{
  margin-top:6px;
  margin-bottom:6px;
  color:rgba(255,255,255,0.7);
}

/*Class Based Styling*/
.navBar{
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 25.35%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  

}

.mainPage{
  width:74.65%;
  margin-left: 25.35%; /* Same as the width of the sidebar */
  border-left: 15px solid rgb(19, 15, 26);
  border-right: 15px solid rgb(19, 15, 26);
  border-top: 15px solid rgb(19, 15, 26);
  padding: 0px 0px;
}

.navList{
  list-style-type: None;
  color:  rgb(153,84,221,0.7);
  text-align: center;
}

.navListHR{
  border-color: rgba(255,255,255,0.4) !important;
}

.social{
  margin-top: 10px;
  display:inline-block;
  margin-right: 4px;
  margin-left:4px;
  width: 17px;
  align-content: center;
  margin-bottom: 10px;
}

.socialTray{
  display:block;
  text-align: center;
}


<<<<<<< HEAD
.navBar::-webkit-scrollbar {
  width: 10px;
}

.navBar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #737272;
  border: 1px solid #000;
}

=======
>>>>>>> e11a4c6a627975af638630e23dfd0713d5636801
/*Identifier based Styling*/
#profilepic{
  width:80%;
  display:inline-block;
  border-radius: 15%;
  margin-top: 10px;
  margin-right: 10%;
  margin-left: 10%;
}

#coverpic{
  width:100%;
  display:inline-block;
  border-bottom: 5px solid rgb(19, 15, 26);
  /*padding-left: 10px:
  margin-left:10px;*/
  /*border: solid white 0px; */
  /*padding-left: 262px;
  max-width: 100%;*/
  /*padding-left: 200px;*/

}

#nameNavBar{
  font-variant: small-caps;
  color: rgb(233, 223, 221);
  font-size: 170%;
  text-align: center;
}

#proTitle{
  color: rgb(112,134,150);
  text-align:center;
  font-size:105%;
  margin-bottom: 30px;
}

#facebook{
  width:13px;
}

#name{

  text-shadow: 0px 2px 2px black,
               0px 4px 20px rgb(0, 0, 0),
               0px 10px 13px black;
  font-variant: small-caps;
  color: rgb(233, 223, 221);
  font-size: 245%;
  text-align: center;
}

#bio{
  text-align: center;
  color:  rgb(153,84,221,0.7);
  font-variant: small-caps;

}

#afterName{
  width: 100%;
  border: solid 0.3px rgb(46, 56,64);
}

#mainTitle{
  color: white;
  font-size: 135%;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .navBar {padding-top: 15px;}
  .navBar a {font-size: 18px;}
}

/*Over writes*/
