/*General Styling*/
body{
  background-color: rgb(19, 15, 26) !important;
}

div{
  display:inline-block;
}

p{
  margin-top:6px;
  margin-bottom:6px;
  color:rgba(255,255,255,0.7);
  text-align: justify;
}

caption{
  caption-side: top !important;
  text-align: center !important;
}

table{
  margin-left: auto !important;
  margin-right: auto !important;
}

summary::-webkit-details-marker {
  display: none
}

summary:before{
  content: "+";
  font-weight: bolder;
  font-size: 20px;
  color:#938B09;
}

details[open] summary:before{
  content: "- ";
  font-weight: bolder;
  font-size: 20px;
  color: #938B09;
  width:100px;
}

/*Class Based Styling*/
.navBar{
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 25.35%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;


}

.mainPage{
  width:74.65%;
  margin-left: 25.35%; /* Same as the width of the sidebar */
  border-left: 15px solid rgb(19, 15, 26);
  border-right: 15px solid rgb(19, 15, 26);
  border-top: 15px solid rgb(19, 15, 26);
  padding: 0px 0px;
}

.navList{
  list-style-type: None;
  color:  rgb(153,84,221,0.7);
  text-align: center;
}

.internalLink:hover{
    text-decoration-color:rgb(153,84,221,0.7) !important;
}

.navListHR{
  border-color: rgba(255,255,255,0.4) !important;
}

.social{
  margin-top: 0px;
  display:inline-block;
  margin-left:1px;
  margin-right:1px;
  width: 40px;
  height:auto;
  align-content: center;
  fill:#4B20E7;
}

.social:hover{
  fill:#fedcba;
}

.socialTray{
  display:block;
  text-align: center;
}

.navBar::-webkit-scrollbar-track {
  border: 1px solid #000;
  padding: 2px 0;
  background-color: #404040;
}

.navBar::-webkit-scrollbar {
  width: 10px;
}

.navBar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #737272;
  border: 1px solid #000;
}

.mainPageDiv{
  display:block;
}

/*.grid1{
  font-size: 110%;
  border:6px solid rgb(19, 15, 26);
}*/

.grid2{
  border-radius: 35px;
  border-top: 6px solid rgb(19, 15, 26);
  border-bottom: 6px solid rgb(19, 15, 26);
  border-left: 30px solid rgb(19, 15, 26);
  border-right: 30px solid rgb(19, 15, 26);
  padding: 2%;
  background-color: rgba(74, 65, 57,0.2);
  color: rgb(255, 244, 235);
}

.grid3{
  border-radius: 40px;
  border-top: 6px solid rgb(19, 15, 26);
  border-bottom: 6px solid rgb(19, 15, 26);
  border-left: 32px solid rgb(19, 15, 26);
  border-right: 32px solid rgb(19, 15, 26);
  padding: 2%;
  background-color: rgba(74, 65, 57,0.2);
  color: rgb(255, 244, 235);
}

.grid4{
  border-radius: 15px 40px 30px 5px;
  background-color: rgba(74, 65, 57,0.2);
  padding: 10px;

}

/*.table1{

  margin-left:auto;
  margin-right:auto;
}*/

.thead{
  border: 4px solid rgba(112,134,150,0.2);
  font-size: 110%;
}

.tdata{
  border: 2.5px solid rgba(112,134,150,0.2);
  color: rgb(180, 206, 224);
  font-family: verdana;
}

.table{
  border:6px solid rgb(19, 15, 26);
}





.sectionHeader{
  font-variant: small-caps;
  color: rgb(233, 223, 221);
  font-size: 155%;
  text-align: center;
  font-weight: bold;
  margin-top: 5%;

}

.paraWork{
  font-size: 80%;
  font-family: verdana;
  color: rgb(180, 206, 224);
}

.link1{
  color: rgb(109, 201, 237);

}
.link1:hover{
  color: rgba(135, 145, 255,0.6);
}

.link2{
  color: rgb(109, 201, 237);
  font-size: 120%;
  font-family: 'verdana';

}
.link2:hover{
  color: rgba(135, 145, 255,0.6);
}

.link3{
  color: rgb(75, 32, 231);

}

.link3:hover{
  color: rgba(75, 32, 231,0.7);
}



.li2{
  list-style-type: none;
}

.footerPara{
  /*border-top: 22px solid rgb(19, 15, 26);*/
  padding-top: 6%;
  font-size: 110%;
  text-align: center;
  font-family: verdana;
  color: rgb(180, 206, 224);

  
}





/*for the progress bar*/
.li1{
  width: 90%;
    float: left;
    list-style-type: none;

    padding-right: 5.3333333%;
}

.li:nth-child(even) { margin-bottom: 5em;}

progress:not(value) {

}



progress[value] {

    appearance: none;


    border: none;


    width: 100%; height: 20px;


      background-color: whiteSmoke;
      border-radius: 3px;
      box-shadow: 0 2px 3px rgba(0,0,0,.5) inset;


    color: royalblue;

    position: relative;
    margin: 0 0 1.5em;
}



progress[value]::-webkit-progress-bar {
    background-color: whiteSmoke;
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba(0,0,0,.5) inset;
}

progress[value]::-webkit-progress-value {
    position: relative;

    background-size: 35px 20px, 100% 100%, 100% 100%;
    border-radius:3px;


    animation: animate-stripes 5s linear infinite;
}

@keyframes animate-stripes { 100% { background-position: -100px 0; } }



progress[value]::-webkit-progress-value:after {

    content: '';
    position: absolute;

    width:5px; height:5px;
    top:7px; right:7px;

    background-color: white;
    border-radius: 100%;
}


progress[value]::-moz-progress-bar {

    background-image:
    -moz-linear-gradient( 135deg,
                                                     transparent,
                                                     transparent 33%,
                                                     rgba(0,0,0,.1) 33%,
                                                     rgba(0,0,0,.1) 66%,
                                                     transparent 66%),
    -moz-linear-gradient( top,
                                                        rgba(255, 255, 255, .25),
                                                        rgba(0,0,0,.2)),
     -moz-linear-gradient( left, #09c, #f44);

    background-size: 35px 20px, 100% 100%, 100% 100%;
    border-radius:3px;


}


.progress-bar {
    background-color: whiteSmoke;
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba(0,0,0,.5) inset;


    width: 100%; height:20px;
}

.progress-bar span {
    background-color: royalblue;
    border-radius: 3px;

    display: block;
    text-indent: -9999px;
}

.paraProg[data-value] {

  position: relative;
}



.paraProg[data-value]:after {
    content: attr(data-value) '%';
    position: absolute; right:0;
}


/*.color1::-webkit-progress-value{

    background-image:
    -webkit-linear-gradient( 135deg,
                                                     transparent,
                                                     transparent 33%,
                                                     rgba(0,0,0,.1) 33%,
                                                     rgba(0,0,0,.1) 66%,
                                                     transparent 66%),
    -webkit-linear-gradient( top,
                                                        rgba(255, 255, 255, .25),
                                                        rgba(0,0,0,.2)),
     -webkit-linear-gradient( left, #09c, #f44);
}

.color2::-webkit-progress-value
{

    background-image:
    -webkit-linear-gradient( 135deg,
                                                     transparent,
                                                     transparent 33%,
                                                     rgba(0,0,0,.1) 33%,
                                                     rgba(0,0,0,.1) 66%,
                                                     transparent 66%),
    -webkit-linear-gradient( top,
                                                        rgba(255, 255, 255, .25),
                                                        rgba(0,0,0,.2)),
     -webkit-linear-gradient( left, #09c, #ff0);
}

.color3::-webkit-progress-value
{

    background-image:
    -webkit-linear-gradient( 135deg,
                                                     transparent,
                                                     transparent 33%,
                                                     rgba(0,0,0,.1) 33%,
                                                     rgba(0,0,0,.1) 66%,
                                                     transparent 66%),
    -webkit-linear-gradient( top,
                                                        rgba(255, 255, 255, .25),
                                                        rgba(0,0,0,.2)),
     -webkit-linear-gradient( left, #09c, #690);
}*/


.color1::-webkit-progress-value{

    background-image:
    -webkit-linear-gradient( 135deg,
                                                     transparent,
                                                     transparent 33%,
                                                     rgba(0,0,0,.1) 33%,
                                                     rgba(0,0,0,.1) 66%,
                                                     transparent 66%),
    -webkit-linear-gradient( top,
                                                        rgba(255, 255, 255, .25),
                                                        rgba(0,0,0,.2)),
     -webkit-linear-gradient( left, #eb0000, #f29129);
}

.color2::-webkit-progress-value
{

    background-image:
    -webkit-linear-gradient( 135deg,
                                                     transparent,
                                                     transparent 33%,
                                                     rgba(0,0,0,.1) 33%,
                                                     rgba(0,0,0,.1) 66%,
                                                     transparent 66%),
    -webkit-linear-gradient( top,
                                                        rgba(255, 255, 255, .25),
                                                        rgba(0,0,0,.2)),
     -webkit-linear-gradient( left, #ff7105, #ffee00);
}

.color3::-webkit-progress-value
{

    background-image:
    -webkit-linear-gradient( 135deg,
                                                     transparent,
                                                     transparent 33%,
                                                     rgba(0,0,0,.1) 33%,
                                                     rgba(0,0,0,.1) 66%,
                                                     transparent 66%),
    -webkit-linear-gradient( top,
                                                        rgba(255, 255, 255, .25),
                                                        rgba(0,0,0,.2)),
     -webkit-linear-gradient( left, #ffee00, #8cff00);
}

.color4::-webkit-progress-value
{

    background-image:
    -webkit-linear-gradient( 135deg,
                                                     transparent,
                                                     transparent 33%,
                                                     rgba(0,0,0,.1) 33%,
                                                     rgba(0,0,0,.1) 66%,
                                                     transparent 66%),
    -webkit-linear-gradient( top,
                                                        rgba(255, 255, 255, .25),
                                                        rgba(0,0,0,.2)),
     -webkit-linear-gradient( left, #8cff00, #00d43f);
}

.color5::-webkit-progress-value
{

    background-image:
    -webkit-linear-gradient( 135deg,
                                                     transparent,
                                                     transparent 33%,
                                                     rgba(0,0,0,.1) 33%,
                                                     rgba(0,0,0,.1) 66%,
                                                     transparent 66%),
    -webkit-linear-gradient( top,
                                                        rgba(255, 255, 255, .25),
                                                        rgba(0,0,0,.2)),
     -webkit-linear-gradient( left, #00d43f, #00ba85);
}

.color6::-webkit-progress-value
{

    background-image:
    -webkit-linear-gradient( 135deg,
                                                     transparent,
                                                     transparent 33%,
                                                     rgba(0,0,0,.1) 33%,
                                                     rgba(0,0,0,.1) 66%,
                                                     transparent 66%),
    -webkit-linear-gradient( top,
                                                        rgba(255, 255, 255, .25),
                                                        rgba(0,0,0,.2)),
     -webkit-linear-gradient( left, #00ba85, #00fbff);
}

.color7::-webkit-progress-value
{

    background-image:
    -webkit-linear-gradient( 135deg,
                                                     transparent,
                                                     transparent 33%,
                                                     rgba(0,0,0,.1) 33%,
                                                     rgba(0,0,0,.1) 66%,
                                                     transparent 66%),
    -webkit-linear-gradient( top,
                                                        rgba(255, 255, 255, .25),
                                                        rgba(0,0,0,.2)),
     -webkit-linear-gradient( left, #00fbff, #0051ff);
}

.color8::-webkit-progress-value
{

    background-image:
    -webkit-linear-gradient( 135deg,
                                                     transparent,
                                                     transparent 33%,
                                                     rgba(0,0,0,.1) 33%,
                                                     rgba(0,0,0,.1) 66%,
                                                     transparent 66%),
    -webkit-linear-gradient( top,
                                                        rgba(255, 255, 255, .25),
                                                        rgba(0,0,0,.2)),
     -webkit-linear-gradient( left, #0051ff, #5f00cc);
}

.color9::-webkit-progress-value
{

    background-image:
    -webkit-linear-gradient( 135deg,
                                                     transparent,
                                                     transparent 33%,
                                                     rgba(0,0,0,.1) 33%,
                                                     rgba(0,0,0,.1) 66%,
                                                     transparent 66%),
    -webkit-linear-gradient( top,
                                                        rgba(255, 255, 255, .25),
                                                        rgba(0,0,0,.2)),
     -webkit-linear-gradient( left, #5f00cc, #a300cc);
}

.color10::-webkit-progress-value
{

    background-image:
    -webkit-linear-gradient( 135deg,
                                                     transparent,
                                                     transparent 33%,
                                                     rgba(0,0,0,.1) 33%,
                                                     rgba(0,0,0,.1) 66%,
                                                     transparent 66%),
    -webkit-linear-gradient( top,
                                                        rgba(255, 255, 255, .25),
                                                        rgba(0,0,0,.2)),
     -webkit-linear-gradient( left, #a300cc, #ad0071);
}

.svgLink{
  text-decoration: none !important;
}

.btn:hover #pdf{
  fill:#ffffff;
}




/*Identifier based Styling*/
#profilepic{
  width:80%;
  display:inline-block;
  border-radius: 15%;
  margin-top: 10px;
  margin-right: 10%;
  margin-left: 10%;
  border: solid rgba(255,255,255,0.8) 5px;
}

#coverpic{
  width:100%;
  display:inline-block;
  border-bottom: 5px solid rgb(19, 15, 26);
  border: solid rgb(112,134,150) 5px;
  /*padding-left: 10px:
  margin-left:10px;*/
  /*border: solid white 0px; */
  /*padding-left: 262px;
  max-width: 100%;*/
  /*padding-left: 200px;*/

}

#nameNavBar{
  font-variant: small-caps;
  color: rgb(233, 223, 221);
  font-size: 170%;
  text-align: center;
}

#proTitle{
  color: rgb(112,134,150);
  text-align:center;
  font-size:105%;
  margin-bottom: 30px;
}

#name{

  text-shadow: 0px 2px 2px black,
               0px 4px 20px rgb(0, 0, 0),
               0px 10px 13px black;
  font-variant: small-caps;
  color: rgb(233, 223, 221);
  font-size: 245%;
  text-align: center;
}

#bio{
  text-align: justify;
  color:  rgb(112,134,150);
  font-size: 103%;
  /*text-align: center;*/
  font-family: "candara";


}

#afterName{
  width: 100%;
  border: solid 0.3px rgb(46, 56,64);
}

#mainTitle{
  color: white;
  font-size: 135%;
}

#devusText{
  width:80px;
  fill:#4B20E7;
  height:auto;
  margin-left: 3px;
  margin-right: 3px;
  padding: 0.5%;
}

#devusText:hover{
  fill:white;
}

#pdf{
  fill:#17a2b8;
}

#pdfSVG{
  height:auto;
  width: 20px;
  display: inline;
}

#svg8{
  height: 15%; 
  width: 16%;
  border: solid black 1px;
  background-color: rgba(0,0,0,0.2);
  fill:#4B20E7;
  margin-top: 0px;
  display:inline-block;
  margin-left:2%;
  margin-right:3%;

}





#svg9{
  height: 14.5%; 
  width: 15.5%;
  border: solid black 1px;
  background-color: rgba(0,0,0,0.2);
  fill:#4B20E7;
  margin-top: 0px;
  display:inline-block;
  margin-left:2%;
  margin-right:3%;

}






/*Over writes*/
/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .navBar {padding-top: 15px;}
  .navBar a {font-size: 18px;}
}
