:root{
  --color1:#153e90;
  --color2:#0e49b5;
  --color3:#54e346B3;
  --color4:#fffaa4;
  --white:#fff;
  --black:#000;
}

body{
  padding-left: 75px;
  padding-top: 55px;
  background-color: var(--color4);
  overflow: auto;
}

.header{
  background-color: rgba(0,0,0,0);
  height: auto;
  position: fixed;
  padding-left: 30px;
  z-index: 1
}

#logo{
  width:20px;
  margin-left: 2px;
  height: auto;
  display: inline-block;
}

.navbtn{
  display: inline-block;
  background-color: var(--white);
  margin-left: 15px;
  margin-top: -24px;
  cursor: pointer;
  padding-top: 6px;
  font-family: "Dancing Script";
  font-size: 20px;
  color: var(--color1);
  vertical-align: middle;
  box-shadow: 3px 5px 4px #00000029;
  width: 130px;
  height: 30px;
  border-radius: 50px;
  text-align: center;
  transition: 0.5s;
}

.activenavbtn{
  color: var(--white);
  margin-left: 25px;
  background-color: var(--color1);
}

.navbtn:hover{
  background-color: #00000050;
  color: var(--color4);
  transition: 0.3s;
  box-shadow: 10px 12px 5px #00000029;
  margin-top: -30px;
}

.infopanel{
  background-color: var(--color3);
  margin-top: -33px;
  height: 590px;
  position: fixed;
  width: 450px;
  border-radius: 50px;
  box-shadow: 0px 10px 15px #C94A4A9c;
  padding-top:90px;
}

#infopanelrow1{
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding-left: 28px;
  margin-bottom: 10px;
}

#namediv{
  font-family: "Indie Flower";
  font-size: 25px;
  margin-top: 13px;
  color: var(--color2);
  text-shadow: 5px 5px 4px rgba(0,0,0,0.25);
}

#titlediv{
  font-family: "Abril Fatface";
  font-size: 15px;
  color: var(--color2);
  opacity: 0.7;
}

#downloadresumediv{
  margin-top:10px;
  padding-left: 5px;
  font-family: 'Comic Sans MS';
  border-style: solid;
  border-width: 3px;
  border-color: #0E49B5e6;
  border-radius: 8px;;
  width: 219px;
  color:#0E49B5e6;
  font-weight: bold;
  padding-top: 0;
  height: 30px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  cursor: pointer;
  transition: 0.1s;
}

#pdficon{
  margin-top: 1px;
  margin-left:1px;
  width: 20px;
  height: auto;
}

#pdficonpath{
  fill: #0E49B5e6;
}

#resumebtntext{
  padding-top: 3px;
  margin-left: -20px;
}

#downloadresumediv:hover{
  background-color: #0e49b5e6;
  transition: 0.1s;
  color: var(--white);
  border-color:var(--white);
  font-weight: normal;
}

#downloadresumediv:hover #pdficonpath{
  fill: var(--white);
}

#profileimgdiv{
  padding-left: 15px;
}

#profileimg{
  margin-top: 13px;
  width: 110px;
  height: 110px;
  border-radius: 56px;
  box-shadow: 5px 5px 5px #5A567599;
}

.infopanel hr{
  width: 90%;
  background-color: var(--color2);
  border-style: none;
  opacity: 0.85;
  height: 2px;
}

#infopanelrow2{
  margin-top:7px;
  margin-right: 25px;
  margin-left:20px;
  text-align: center;
  font-family: "Comic Sans MS";
  font-size:13.5px;
  color: var(--color2);
  margin-bottom: 20px;
}

#socialtray{
  padding-top: 23px;
  display: grid;
  grid-template-columns: repeat(8,1fr);
  padding-left: 28px;
  padding-right: 4px;
}

.socialicondiv{
  padding: 0;
  margin:0;
}

.socialicon{
  height: 30px;
  width: 30px;
  transition: 0.2s;
}

.socialicon path{
  fill:var(--color1);
  transition: 0.2s;
}

.socialicondiv:hover .socialicon path{
  fill:#C94A4A;
  transition: 0.2s;
}

.socialicondiv:hover .socialicon{
  height: 38px;
  width: 38px;
  margin-top:-8px;
  transition: 0.2s;
}

#devuspanel{
  margin-top: 50px;
  margin-left: 275px;
  color: #E86666;
  font-family: "Comic Sans MS";
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}

#devustext{
  height: 15px;
  width: auto;
}

#devustextpath{
  fill:#E86666;
  box-shadow: 3px 3px 4px;
  transition: 0.2s;
}

#devustextdiv:hover #devustextpath{
  fill:var(--black);
  transition: 0.2s;
}

iframe{
  margin-left: 500px;
  margin-top:85px;
  height: 505px;
  width: 890px;
  overflow-x: auto;
  overflow-y: auto;
  border: 5px solid #707070;
}
